
    <div fxLayout="column"  fxLayoutAlign="center center" style="margin: 10%;" fxLayoutGap="40px">
        <h1 style="font-size: 35px; color: brown;">About This Book Management</h1>
        <div style=" width: 80%; font-size: 16px;">
            <p class="desc" style="text-align: center;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ullam
                magnam, repellendus maiores perferendis ratione quasi, velit est commodi,
                voluptas unde minus accusantium dicta sunt accusamus explicabo! Tempore qui
                magnam quaerat, saepe expedita perferendis maxime quisquam? Accusantium
                harum praesentium deserunt ex, perferendis quod iste est placeat repellat
                earum id ab totam delectus cumque necessitatibus consectetur beatae nam? Sed
                sequi alias, corporis quis consequuntur impedit hic molestias et aperiam non
                veritatis laborum magnam sapiente odio expedita ipsa voluptatibus! Hic
                veniam minus deleniti nostrum odit. Error saepe fugit nobis cumque illo
                explicabo fuga aspernatur iure similique quisquam, tempore ut magni totam
                nesciunt?
              </p>
        </div>
      </div>

