<aside>
  <div class="aside1">
    <img
      src="https://img.freepik.com/free-vector/realistic-book-lover-composition-with-stack-colorful-books-with-eyeglasses-home-plants-tea-cup-vector-illustration_1284-77312.jpg?w=900&t=st=1688582330~exp=1688582930~hmac=994e1645990753d9f74c3b905c452c1dcf7f5a4f6604ba97dfaddb4a47bcd6ab"
      alt=""
    />
  </div>

  <div class="aside2" fxLayoutAlign="center center" fxLayout="column">
    <h4>Welcome To <span>B</span>ook <span>S</span>tore</h4>
    <p>
      A book is a garden, an orchard, a storehouse, a party, a company by the
      way, a counselor, a multitude of counselors. 
    </p>
    <p>
        "As you read a book word by
      word and page by page, you participate in its creation, just as a cellist
      playing a Bach suite participates, note by note, in the creation, the
      coming-to-be, the existence, of the music. And, as you read and re-read,
      the book of course participates in the creation of you, your thoughts and
      feelings, the size and temper of your soul."
    </p>

    <button mat-raised-button color="accent">
      <a routerLink="/book-list">Explore Books</a>
    </button>
  </div>
</aside>
