:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .component-container{
    width: 100%;
  }

  mat-card{
    /* margin: 10%; */
    margin-left: 30%;
    margin-right: 30%;
    width: 350px;
  }

  .my-custom-snackbar {
    margin: 0 !important;
    position: absolute;
    right: 25px;
    top: 60px;
  }