<div class="component-container" fxLayout="column" fxFlex=100>
    <form [formGroup]="addFormGroup">
        <div fxLayout="row">
            <mat-card class="card-container"  fxFlex=100 fxFlex.xs=95 fxFlex.sm=90>
                <div class="table-header-card" fxLayout="row" fxLayoutGap="20px" style="margin-top: 15px; margin-left: 10px;">
                    <mat-icon class="icon-back-material" title="go back" (click)="routeToBack()">arrow_back
                    </mat-icon>
                    <h3>Add Book</h3>
                </div>

                <div class="sub-container" style="margin-top: 20px;" fxLayout="row" fxLayoutAlign="center">
                    <div class="card-col-1" fxLayout="column" fxFlex=100 style="padding-right: 20px; margin: 15px;">
                        
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input formControlName="name" matInput placeholder="Enter Book Name">
                            <mat-error>enter name</mat-error>
                        </mat-form-field>
                        

                        <mat-form-field>
                            <mat-label>Price</mat-label>
                            <input formControlName="price" matInput placeholder="Enter Book Price">
                            <mat-error>enter price</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Description</mat-label>
                            <input formControlName="description" matInput placeholder="Enter Book Description">
                            <mat-error>enter description</mat-error>
                        </mat-form-field>

                    </div>

                </div>

                <div class="add_type_btn_container" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px"
                    style="margin: 15px;">
                    <button mat-raised-button color="primary" (click)="onSubmit()">Add</button>
                    <button mat-stroked-button (click)="routeToBack()">Cancel</button>
                </div>

            </mat-card>

        </div>

    </form>

</div>